@CHARSET "UTF-8";

body {
	background-color: #b7d1c4;
	margin: 20px;
//	font-family: cursive;
	font-family: Times;
}

h2{
//	font-family: Verdana, sans-serif;
	font-family: Times;
	font-size: 2em;
}

div {
	margin-top: 20px;
	margin-bottom: 30px;
}

#header {
	font-size: 3em;
//	font-family: Verdana;
	font-family: Times;
	text-align: center;
	margin-bottom: 20px;
}

#logo {
	width: 200px;
}

#head_image_tables {
	cellpadding: 20px;	
}

#head_imgs {
	width: 250px;
	height: 200px;
}

#source_table {
	margin-top: 20px;
	margin-bottom: 0px;
}

#reference {
	margin-top: 0px;
	margin-bottom: 30px;
}

ul {
	margin: 0;
}
.text_type{
	border-radius: 5px;
//	font-family: cursive;
	font-family: Times;
	font-size: 1.75em;
}

.special_text_style{
	color: red;
	text-decoration: underline;
}

#introductions {
#	background-color: #B9D7D9;
}
